@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --purple: hsl(259, 100%, 65%);
  --lightRed: hsl(0, 100%, 67%);
  /* -------------------------- */
  --white: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGrey: hsl(0, 0%, 86%);
  --smokeGrey: hsl(0, 1%, 44%);
  --ofblack: hsl(0, 0%, 8%);
}

/* @font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
} */

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--offWhite);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 90vh;
  height: auto;
  background-color: var(--white);
  border-radius: 20px 20px 150px 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs-container {
  display: flex;
  gap: 30px;
}

.line {
  display: flex;
  align-items: center;
  hr {
    flex: 1;
  }
  button {
    border-radius: 999px;
    border: none;
    background-color: var(--purple);
    padding: 20px;
    transition: 0.2s;
  }
  button:hover {
    background-color: var(--ofblack);
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  main {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .inputs-container {
    margin-bottom: 20px;
  }

  .line {
    margin: 50px 0;
    position: relative;
    button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
